<h1>Answer page</h1>

<div class="card p-3 m-3"> Your question: <%= params[:question] %></div>
<div class="card p-3 m-3"> Coach's answer: <%= @answer %> </div>

<%=(link_to "Ask again", "/ask", class: "btn btn-primary")%>
