<h1>Yo what up</h1>
<form class="form-group p-3 m-3 " action="/answer" method="get" data-turbo="false">
  <input class="form-control" type="text" name="question" value='<%= params[:question] %>'>
  <input class="btn btn-primary mt-3" type="submit" value="Ask!">
</form>
